apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: monitoring
  labels:
    app: otel-collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9464"
        prometheus.io/path: "/metrics"
        prometheus.io/scheme: "http"
    spec:
      serviceAccountName: otel-collector-cluster
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:latest
          args: ["--config=/etc/otel-collector/config.yaml"]
          ports:
            - containerPort: 9464 # Prometheus exporter
              name: prom-metrics
            - containerPort: 13133 # health check
              name: health
          volumeMounts:
            - name: otel-collector-config
              mountPath: /etc/otel-collector
      volumes:
        - name: otel-collector-config
          configMap:
            name: otel-collector-cluster-config

---
apiVersion: v1
kind: Service
metadata:
  name: otel-collector-cluster
  namespace: monitoring
  labels:
    app: otel-collector
  # annotations:
  #   prometheus.io/scrape: "true"
  #   prometheus.io/port: "9464"
  #   prometheus.io/path: "/metrics"
spec:
  ports:
    - name: prom-metrics
      port: 9464
      targetPort: prom-metrics
  selector:
    app: otel-collector

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: otel-collector-cluster
  namespace: monitoring

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: otel-collector-cluster
rules:
  # Core resources
  - apiGroups: [""]
    resources: 
      - "pods"
      - "nodes" 
      - "namespaces"
      - "events"
      - "replicationcontrollers"
      - "resourcequotas"
      - "persistentvolumes"
      - "persistentvolumeclaims"
      - "services"
      - "secrets"
      - "configmaps"
    verbs: ["get", "list", "watch"]
  
  # Apps resources
  - apiGroups: ["apps"]
    resources:
      - "deployments"
      - "daemonsets" 
      - "replicasets"
      - "statefulsets"
    verbs: ["get", "list", "watch"]
  
  # Batch resources  
  - apiGroups: ["batch"]
    resources:
      - "jobs"
      - "cronjobs"
    verbs: ["get", "list", "watch"]
  
  # Autoscaling resources
  - apiGroups: ["autoscaling"]
    resources:
      - "horizontalpodautoscalers"
    verbs: ["get", "list", "watch"]
  
  # Extensions (for some clusters)
  - apiGroups: ["extensions"]
    resources:
      - "deployments"
      - "replicasets"
    verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: otel-collector-cluster
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: otel-collector-cluster
subjects:
  - kind: ServiceAccount
    name: otel-collector-cluster
    namespace: monitoring

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-cluster-config
  namespace: monitoring
data:
  config.yaml: |
    receivers:
      k8s_cluster:
        auth_type: serviceAccount
        collection_interval: 30s
        node_conditions_to_report: [Ready, MemoryPressure, DiskPressure, NetworkUnavailable]
      k8s_events:
        auth_type: serviceAccount

      mongodb/order_generation:
        hosts:
          - endpoint: globeco-order-generation-service-mongodb.globeco.svc.cluster.local:27017
        collection_interval: 30s
        initial_delay: 1s
        tls:
          insecure: true
          insecure_skip_verify: true
        metrics:
              mongodb.uptime:
                enabled: true
              mongodb.commands.rate:
                enabled: true
              mongodb.health:
                enabled: true
              mongodb.operation.latency.time:
                enabled: true
              mongodb.queries.rate:
                enabled: true
              mongodb.flushes.rate:
                enabled: false
    processors:
      batch:
        timeout: 1s
        send_batch_size: 1024
        send_batch_max_size: 2048

      memory_limiter:
        limit_mib: 512
        spike_limit_mib: 128
        check_interval: 5s

      k8sattributes:
        auth_type: "serviceAccount"
        passthrough: false
        wait_for_metadata: true
        extract:
          metadata:
            - k8s.pod.name
            - k8s.pod.uid
            - k8s.deployment.name
            - k8s.namespace.name
            - k8s.node.name
            - k8s.pod.start_time
            - k8s.deployment.name
            - k8s.daemonset.name
            - k8s.statefulset.name
            - k8s.job.name
            - k8s.container.name
            - container.image.name
            - container.id
            - container.image.tag
          labels:
            - tag_name: k8s.pod.label.app
              key: app
              from: pod
            - tag_name: k8s.pod.label.version
              key: version
              from: pod
        
        # pod_association: # How to associate the data to a pod (order matters)
        #   - sources: # First try to use the value of the resource attribute k8s.pod.ip
        #       - from: resource_attribute
        #         name: k8s.pod.ip
        #   - sources: # Then try to use the value of the resource attribute k8s.pod.uid
        #       - from: resource_attribute
        #         name: k8s.pod.uid
        #   - sources: # If neither of those work, use the request's connection to get the pod IP.
        #       - from: connection
        

      resource/mongodb_order_generation:
        attributes:
          - key: instance_name
            value: globeco-order-generation-service-mongodb
            action: upsert
          - key: service_name
            value: globeco-order-generation-service-mongodb
            action: upsert

    exporters:
      prometheus:
        endpoint: "0.0.0.0:9464"
        namespace: ""
        const_labels:
          environment: "production"
          collector: "otel-collector-cluster"
        metric_expiration: 1440m
        resource_to_telemetry_conversion:
          enabled: true

      debug: {}
    
    service:
      pipelines:
        metrics:
          receivers: [k8s_cluster]
          processors: [batch]
          exporters: [prometheus, debug]
        
        metrics/mongodb_order_generation:
          receivers: [mongodb/order_generation]
          processors: [memory_limiter, k8sattributes, resource/mongodb_order_generation, batch]
          exporters: [prometheus]

        # logs:
        #   receivers: [k8s_events]
        #   processors: [batch]
        #   exporters: [prometheus]